USER_NAME=""
BOT_PASSWORD=""
USER_NAME_ONLY="input your user name here"
LOGLEVEL=INFO
DEBUG_JSON=false
VALIDATE_BEFORE_UPLOAD=true
UPLOAD_TO_WIKIDATA=true
REQUEST_TIMEOUT=10
LANGUAGE_CODE="sv"
COUNTRY_QID="Q34"
MAX_DAYS_BETWEEN_NEW_CHECK=182
MIN_SIMILARITY=0.8
